# Tour request form delivery (Resend). Leave unset in development to see the fallback message.
RESEND_API_KEY=
CONTACT_TO_EMAIL=MSCMOfficeAssistant@gmail.com
CONTACT_FROM_EMAIL="MSCM Website <tours@montessoricentralmarin.org>"
